git+https://github.com/PawiX25/twikit.git@fix/keyerror-optional-fields
python-dotenv
google-genai
umap-learn
hdbscan
anthropic
faiss-cpu
flask
flask_cors
dotenv
strawberry-graphql
flask_sqlalchemy
cryptography